*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

$accent: #95E1D3;
$accent-extra: #F38281;
$dark: #2D3033;
$white: #FFFFFF;
$black: #000000;
$gray: #C6CBCD;

$font-size: 18px;
$font-size-title: 24px;


body {
   background: $white;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
   font-size: $font-size;
}

// body.no-scroll {
//    overflow: hidden;
// }


.container {
   max-width: 1202px;
   margin: 0 auto;
   padding: 0 16px;
}

@mixin flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin flex-sb {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.divider {
   margin: 0 auto;
   display: block;
   width: 170px;
   height: 4px;
}

.divider__light {
   background: $white;

   @media screen and (max-width: 1024px) {
      width: 115px;
   }

   @media screen and (max-width: 450px) {
      width: 134px;
   }
}

.divider__accent {
   background: $accent-extra;

   @media screen and (max-width: 1024px) {
      width: 148px;
   }

   @media screen and (max-width: 450px) {
      width: 134px;
   }
}

.button button {
   width: 370px;
   height: 78px;
   background: transparent;
   border: 4px solid $white;
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   text-align: center;
   text-transform: uppercase;
   color: $white;
   cursor: pointer;
   transition: all .3s ease-in-out;

   @media screen and (max-width: 1024px) {
      width: 318px;
      height: 54px;
      font-size: 18px;
      line-height: 21px;
   }

   @media screen and (max-width: 450px) {
      width: 285px;
   }

   &:hover {
      background: $white;
      color: #E4BE8D;
   }

   &:active {
      border: 4px solid #E4BE8D;
   }
}

.section {
   padding-top: 58px;

   @media screen and (max-width: 1024px) {
      padding-top: 45px;
   }

   &__subtitle h3 {
      font-family: 'Kaushan Script', cursive;
      font-weight: 400;
      font-size: 30px;
      line-height: 44px;
      text-align: center;
      color: $dark;
   
      @media screen and (max-width: 1024px) {
         font-size: 24px;
         line-height: 35px;
      }

      @media screen and (max-width: 450px) {
         font-size: 24px;
         line-height: 35px;
      }
   }

   &__title  {
      padding: 39px 0;

      @media screen and (max-width: 1024px) {
         padding: 36px 0;
      }
   }

   &__title h2 {
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      text-transform: uppercase;
      color: $dark;

      @media screen and (max-width: 1024px) {
         font-size: 24px;
         line-height: 28px;
      }
   }

   &__description {
      padding: 38px 0 96px;

      @media screen and (max-width: 1024px) {
         padding: 33px 0 83px;
      }

      @media screen and (max-width: 500px) {
         padding: 18px 0 33px;
      }
   }

   &__description p {
      font-weight: 400;
      line-height: 21px;
      text-align: center;
      color: $black;

      @media screen and (max-width: 1024px) {
         font-size: 14px;
         line-height: 16px;
      }
   }
}

.accordion {
   &__container {
      max-width: 570px;
      width: 100%;
   }

   @media screen and (max-width: 1200px) {
      max-width: 550px;
   }
   
   &:not(:last-child){
      margin-bottom: 22px;

      @media screen and (max-width: 500px) {
         margin-bottom: 19px;
      }
   }

   &__header {
      display: flex;
      align-items: center;
      padding: 25px 14px 25px 18px;
      border: 1px solid $gray;
      cursor: pointer;
      height: 92px;
      position: relative;

      @media screen and (max-width: 1200px) {
         height: 78px;
         padding: 21px 12px 21px 15px;
      }

      &::after {
         content: '';
         position: absolute;
         background: url('@img/faq/arrow.png');
         background-size: cover;
         width: 42px;
         height: 42px;
         right: 13px;
         top: 18px;
         transition: transform .4s ease-in;

         @media screen and (max-width: 1200px) {
            width: 36px;
            height: 36px;
            right: 14px;
            top: 17px;
         }

         @media screen and (max-width: 500px) {
            right: 10px;
         }
      }
      
      span {
         font-weight: 700;
         font-size: 24px;
         line-height: 28px;
         text-transform: uppercase;
         color: $dark;

         @media screen and (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
         }

         @media screen and (max-width: 500px) {
            font-size: 14px;
            line-height: 16px;
         }
      }
   }

   &__img {
      max-width: 42px;
      margin-right: 40px;

      @media screen and (max-width: 1200px) {
         max-width: 36px;
         margin-right: 35px;
      }

      img {
         width: 100%;
      }
   }

   &__content {
      padding: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height .5s ease-in-out;
   }

   &__text {
      max-height: 125px;
      overflow-x: hidden;
      padding-right: 55px;
      max-height: 0;
      transition: max-height 1s ease-in-out;

      p {
         font-size: 18px;
         line-height: 21px;
         color: $dark;

         @media screen and (max-width: 1200px) {
            font-size: 14px;
            line-height: 16px;
         }

         @media screen and (max-width: 500px) {
            font-size: 13px;
            line-height: 15px;
         }
      }
   }

   &.active .accordion__content {
      border: 1px solid $gray;
      border-top: 0;
      padding: 16px 24px 22px 22px;
      max-height: 163px;
      animation: fade .7s ease-in;

      @media screen and (max-width: 1200px) {
         max-height: 138px;
         padding: 22px 19px 22px 22px;
      }

      @media screen and (max-width: 500px) {
         padding: 9px 23px 22px 22px;
      }
   }

   &.active .accordion__text {
      max-height: 125px;

      @media screen and (max-width: 1200px) {
         max-height: 98px;
         padding-right: 45px;
      }

      @media screen and (max-width: 500px) {
         max-height: 119px;
      }
   }

   &.active .accordion__header {
      &::after {
         transform: rotate(180deg);
      }
   }
}

@keyframes fade {
   from {
      opacity: 0;
      transform: translateY(-10px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

::-webkit-scrollbar {
   width: 7px;

   @media screen and (max-width: 1024px) {
      width: 6px;
   }
}

::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px #F5F5F5;
}

::-webkit-scrollbar-thumb {
   background: $accent;
}