*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

$accent: #95E1D3;
$accent-extra: #F38281;
$dark: #2D3033;
$white: #FFFFFF;
$black: #000000;
$gray: #C6CBCD;

$font-size: 18px;
// $lineheight: 160%;
$font-size-title: 24px;




body {
   background: #E5E5E5;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
   font-size: $font-size;
   // line-height: $lineheight;
}

// body.no-scroll {
//    overflow: hidden;
// }

.container {
   max-width: 1202px;
   margin: 0 auto;
   padding: 0 16px;
}

@mixin flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin flex-sb {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.divider {
   margin: 0 auto;
   display: block;
   width: 170px;
   height: 4px;

   @media screen and (max-width: 1024px) {
      width: 115px;
   }

   @media screen and (max-width: 450px) {
      width: 134px;
   }
}

.divider__light {
   background: $white;
}

.divider__accent {
   background: $accent-extra;
}

.button button {
   width: 370px;
   height: 78px;
   background: transparent;
   border: 4px solid $white;
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   text-align: center;
   text-transform: uppercase;
   color: $white;
   cursor: pointer;
   transition: all .3s ease-in-out;

   @media screen and (max-width: 1024px) {
      width: 318px;
      height: 54px;
      font-size: 18px;
      line-height: 21px;
   }

   @media screen and (max-width: 450px) {
      width: 285px;
   }

   &:hover {
      background: $white;
      color: #E4BE8D;
   }

   &:active {
      border: 4px solid #E4BE8D;
   }

}