.team {
   &__wrapper {
      padding-top: 44px;

      @media screen and (max-width: 1024px) {
         padding-top: 30px;
      }

      @media screen and (max-width: 650px) {
         padding-top: 0;
      }
   }

   &__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      padding-bottom: 78px;

      @media screen and (max-width: 1024px) {
         grid-gap: 20px;
         padding-bottom: 54px;
      }

      @media screen and (max-width: 900px) {
         grid-gap: 10px;
      }

      @media screen and (max-width: 650px) {
         grid-template-columns: repeat(1, 1fr);
         grid-gap: 32px;
         padding-bottom: 62px;
         margin-top: 4px;
      }
   }

   &__item {
      display: block;
      position: relative;

      @media screen and (max-width: 650px) {
         max-height: 500px;
         height: 100%;
      }

      @media screen and (max-width: 500px) {
         max-height: 350px;
      }

      @media screen and (max-width: 400px) {
         max-height: 236px;
      }
   }

   &__image {
      width: 100%;
      object-fit: cover;

      @media screen and (max-width: 650px) {
         height: 100%;
      }
   }

   &__item:hover .team__info {
      opacity: 1;
      transform: translate(-16px, -16px);

      @media screen and (max-width: 1200px) {
         transform: translate(-6px, -7px);
      }

      @media screen and (max-width: 500px) {
         transform: translate(0, 0);
      }
   }

   &__info {
      position: absolute;
      top: 0;
      transform: translate(0, 0);
      width: 100%;
      height: 100%;
      background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: all 0.4s ease-in;
      z-index: 2;

      @media screen and (max-width: 650px) {
         flex-direction: row;
         justify-content: flex-start;
         align-items: center;
         background:transparent;
         opacity: 1;
         height: 42px;
         top: auto;
         bottom: 0;
         right: 0;
         padding: 0;
         width: 171px;
      }
   }

   &__links {
      display: flex;
      gap: 1px;
      max-width: 195px;
      width: 100%;
      height: 42px;
      padding: 15px 0 0 24px;

      @media screen and (max-width: 1024px) {
         max-width: 150px;
         padding: 6px 0 0 6px;
      }

      @media screen and (max-width: 650px) {
         max-width: 171px;
         padding: 0;
      }

      a {
         @include flex-center;
         background: #F9EFCF;
         width: 42px;
         height: 42px;
         transition: all .3s ease-in-out;

         @media screen and (max-width: 1024px) {
            width: 35.5px;
            height: 35.5px;
         }

         @media screen and (max-width: 650px) {
            width: 42px;
            height: 42px;
         }

         svg { 
            transition: all .3s ease-in-out;
         }

         &:hover{ 
            background: $accent-extra;

            svg { 
               transition: all .3s ease-in-out;
               fill: $white;
            }
         }
      }
   }

   &__name {
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
         font-weight: 700;
         font-size: 24px;
         line-height: 28px;
         text-transform: uppercase;
         color: $dark;
         padding: 21px 0;

         @media screen and (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
            padding: 7px 0;
         }

         @media screen and (max-width: 650px) {
            padding: 14px 0;
         }
      }

      span {
         font-size: 18px;
         line-height: 21px;
         text-transform: uppercase;
         color: $dark;
         padding: 10px 0;

         @media screen and (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
            padding: 8px 0;
         }

         @media screen and (max-width: 650px) {
            padding: 1px 0;
         }
      }
   }
}